* {
    color: #fff;
}
body {
    background-color: #1d2630;
}
#Update {
    display: none;
}

select option{
    color:#1d2630;
}

/*-----------Menú admin---------*/
.card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
  }
  
  .btn {
    transition: transform 0.3s ease;
  }
  
  .btn:hover {
    transform: scale(1.05);
  }