* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin: 10px 100px 150px 100px;
}
section {
    width: 80%;
}

form {
    text-align: center;
}
#contacto-formulario{
    border: solid;
}